<h2>{{bar_name}} Happy Hour Forum</h2>

{{!-- Header/ instructions on how this website works --}}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p align="middle">How it works:</p>
            <p id="instructions">Top comment (comment with the most thumbs up) can be interpreted as the most current
                special. As the comment recieves more thumbs down, it will be bumped down on the list and you can assume
                that this special is no longer current. If you don't see the most current happy hour, feel free to add
                it! Happy drinking!</p>
            <button type="button" class="btn btn-primary btn-dark" data-toggle="modal" data-target=".testModal">Add to
                Forum</button>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{forum}}
        </div>
    </div>
</div>



<div class="footer">
    <div class="container text-center">
        <p><a target="blank" href="/api/bars">API</a> | <a href="https://github.com/CristalGomez/Project2"
                target="blank">Github</a> | Home | Contact Us
    </div>
</div>

<!-- Modal -->
<div class="modal testModal" tabindex="-1" role="dialog">
    <div class="modal-dialog col" role="document">
        <div class="-modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Your Bar!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            {{!-- Bar name input box --}}
            <div class="form-group">
                <label for="usr">User Name</label>
                <input type="text" class="form-control" id="usr">
            </div>
            {{!-- End of bar name input box --}}

            <div class="form-group">
                <label for="comment">Spill the tea. How's the new happy hour?</label>
                <textarea class="form-control" rows="5" id="comment"></textarea>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-primary">Add</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>

</div>
</div>