<div class="container-fluid index">



<div class="container">
  <div class="row">
    <div align="middle" class="col-md-12 douLogo">
      <embed width="400px" src="/assets/svg/douLogo.svg">
    </div>
  </div>
</div>





<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
<div>
  <a href="/bars/Austin" class="card" id="card1" >Austin</a>
  
</div>


<div>
  <a href="/bars/Houston" class="card" id="card2" >Houston</a>
  
</div>

<div>
<a href="/bars/Dallas" class="card" id="card3" >Dallas</a>
</div>
    </div>
  </div>
</div>
</div>



{{!-- <div id="usImgs" class="container">
  <div class="row">
    <div align="middle" class="col-md-4">
      <img src=""/ width="100%" height="220px">
      <p>Cristal | <a href="https://github.com/CristalGomez">GitHub</a> </p>
    </div>

    <div class="col-md-4">
      <img width="100%" height="220px" src=""/>  
      <p>Tyler | <a href="https://github.com/techman98">Github</a></p>
    </div>

    <div class="col-md-4">
      <img width="100%" height="220px" src="/">
      <p>Zohaib | <a href="https://github.com/zohaibdhukka">Github</a></p>
    </div>

  </div>
</div> --}}

</div>
<div class="footer">
  <div class="container text-center">
    <p><a
        href="https://github.com/CristalGomez/Project2" style="color: white" target="blank">Github</a>
  </div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="./js/index.js"></script>