<div class="container">
  <div class="row">
    <div align="middle" class="col-md-12 douLogo">
      <embed width="400px" src="/assets/svg/douLogo.svg">
    </div>
  </div>
</div>


<div id="card1" class="card">
  <p>Austin</p>
</div>


<div id="card2" class="card">
  <p>Houston</p>
</div>

<div id="card3" class="card">
  <p>Dallas</p>
</div>

<div class="footer">
  <div class="container text-center">
    <p><a target="blank" href="/api/bars">API</a> | <a
        href="https://github.com/CristalGomez/Project2" target="blank">Github</a>
  </div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>