
h1{
    font-family: 'Poiret One', cursive;
    text-align: center;
    padding: 10px;
}

#barsTitle {
    font-family: 'Pompiere', cursive;
    text-align: center;
    padding: 20px;
    font-size: 60px;
}

h2 {
    font-family: 'Pompiere', cursive;
    text-align: center;
}
body{
    margin: auto
}

.city {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.city img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

#cityName{
    font-size: 25px;
    font-family: 'Pompiere', cursive;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgray;
    color: black;
    text-align: center;
    padding: 10px;
  }